<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2 th:text="#{ownerInformation}">Owner Information</h2>

  <div th:if="${message}" class="alert alert-success" id="success-message">
    <span th:text="${message}"></span>
  </div>

  <div th:if="${error}" class="alert alert-danger" id="error-message">
    <span th:text="${error}"></span>
  </div>

  <table class="table table-striped" th:object="${owner}">
    <tr>
      <th th:text="#{name}">Name</th>
      <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
    </tr>
    <tr>
      <th th:text="#{address}">Address</th>
      <td th:text="*{address}"></td>
    </tr>
    <tr>
      <th th:text="#{city}">City</th>
      <td th:text="*{city}"></td>
    </tr>
    <tr>
      <th th:text="#{telephone}">Telephone</th>
      <td th:text="*{telephone}"></td>
    </tr>
  </table>

  <a th:href="@{__${owner.id}__/edit}" class="btn btn-primary" th:text="#{editOwner}">Edit
    Owner</a>
  <a th:href="@{__${owner.id}__/pets/new}" class="btn btn-primary" th:text="#{addNewPet}">Add
    New Pet</a>

  <br />
  <br />
  <br />
  <h2 th:text="#{petsAndVisits}">Pets and Visits</h2>

  <table class="table table-striped">

    <tr th:each="pet : ${petsPage.content}">
      <td valign="top">
        <dl class="dl-horizontal">
          <dt th:text="#{name}">Name</dt>
          <dd th:text="${pet.name}"></dd>
          <dt th:text="#{birthDate}">Birth Date</dt>
          <dd th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></dd>
          <dt th:text="#{type}">Type</dt>
          <dd th:text="${pet.type}"></dd>
        </dl>
      </td>
      <td valign="top">
        <table class="table-condensed">
          <thead>
            <tr>
              <th th:text="#{visitDate}">Visit Date</th>
              <th th:text="#{description}">Description</th>
            </tr>
          </thead>
          <tr th:each="visit : ${pet.visits}">
            <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
            <td th:text="${visit?.description}"></td>
          </tr>
          <tr th:if="${visitCountByPetId[pet.id] != null and visitCountByPetId[pet.id] > 5}">
            <td colspan="2" class="text-muted">
              <em>Showing 5 of <span th:text="${visitCountByPetId[pet.id]}"></span> visits.
                <a th:href="@{'/owners/' + ${owner.id} + '/pets/' + ${pet.id} + '/visits'}">View all visits</a>
              </em>
            </td>
          </tr>
          <tr>
            <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/edit}" th:text="#{editPet}">Edit Pet</a></td>
            <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/visits/new}" th:text="#{addVisit}">Add Visit</a></td>
          </tr>
        </table>
      </td>
    </tr>

  </table>

  <div th:if="${totalPetPages > 1}">
    <span th:text="#{pages}">Pages:</span>
    <span>[</span>
    <span th:each="i: ${#numbers.sequence(1, totalPetPages)}">
      <a th:if="${currentPetPage != i}" th:href="@{'/owners/' + ${owner.id} + '?petPage=' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPetPage != i}">[[${i}]]</span>
    </span>
    <span>]&nbsp;</span>
    <span>
      <a th:if="${currentPetPage > 1}" th:href="@{'/owners/' + ${owner.id} + '?petPage=1'}" th:title="#{first}" class="fa fa-fast-backward"></a>
      <span th:unless="${currentPetPage > 1}" th:title="#{first}" class="fa fa-fast-backward"></span>
    </span>
    <span>
      <a th:if="${currentPetPage > 1}" th:href="@{'/owners/' + ${owner.id} + '?petPage=' + ${currentPetPage - 1}}" th:title="#{previous}" class="fa fa-step-backward"></a>
      <span th:unless="${currentPetPage > 1}" th:title="#{previous}" class="fa fa-step-backward"></span>
    </span>
    <span>
      <a th:if="${currentPetPage < totalPetPages}" th:href="@{'/owners/' + ${owner.id} + '?petPage=' + ${currentPetPage + 1}}" th:title="#{next}" class="fa fa-step-forward"></a>
      <span th:unless="${currentPetPage < totalPetPages}" th:title="#{next}" class="fa fa-step-forward"></span>
    </span>
    <span>
      <a th:if="${currentPetPage < totalPetPages}" th:href="@{'/owners/' + ${owner.id} + '?petPage=' + ${totalPetPages}}" th:title="#{last}" class="fa fa-fast-forward"></a>
      <span th:unless="${currentPetPage < totalPetPages}" th:title="#{last}" class="fa fa-fast-forward"></span>
    </span>
  </div>
  <script>
    // Function to hide the success and error messages after 3 seconds
    function hideMessages() {
      setTimeout(function () {
        document.getElementById("success-message").style.display = "none";
        document.getElementById("error-message").style.display = "none";
      }, 3000); // 3000 milliseconds (3 seconds)
    }

    // Call the function to hide messages
    hideMessages();
  </script>

</body>


</html>
